* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

:root {
    --box-size: 30vw;
}

body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.container {
    width: var(--box-size);
    height: var(--box-size);
    background-color: aqua;
    border: 1px solid gray;

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
}

.container > div {
    border: 1px solid gray;

    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: 64px;
}

.container > div:hover {
    background-color: rgb(0, 227, 227);
    cursor: pointer;
}